<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuirenMainForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SuirenMainForm.Properties.Settings>
            <setting name="Day1Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day2Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day3Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day4Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day5Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day6Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Day7Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </SuirenMainForm.Properties.Settings>
    </userSettings>
</configuration>